#pageHeading {
	text-align: center;
	font-family: sans-serif
}

body{
    background-color: rgba(117, 49, 49, 0.425);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.bodyStyle {
	background-color: rgb(123, 76, 167);
	border: 10px solid #5F9EA0;
	margin: 10px;
    padding: 1em;
    width: 800px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    width: 800px;
}

footer{
	text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

#table{
    width: 600px;
    background-color: #DB7093;
    border-collapse: collapse;
    color: black;
    text-align: center;
}

th, td{
	border: 3px solid #EE82EE;
	height: 50px;
}  

th{
    font-size: 20px;
}

td{
    font-size: 15px;
}

#buttons {
    font-size: 15px;  
    font-weight: bold;
    margin: 10px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    width: 800px;
    justify-self: center;
    font: inherit;
    border: 5px dotted rgb(211, 224, 25);
    border-radius: 6px;
}

input:invalid {
    background-color:#FF7F50;
}

input:valid {
    background-color: #FFD700;
}